Importamos las librerias necesarias para el proceso ETL

In [1]:
import pandas as pd 
import os

C:\Users\User\AppData\Local\Temp\ipykernel_11380\2998494606.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Realizamos el proceso de extracción de archivos para convertirlos en dataframes

In [2]:
# Ruta al archivo XLSX
hom_archivo = 'Datasets\homicidios.xlsx'
les_archivo = 'Datasets\lesiones.xlsx'
sini_archivo = 'Datasets\siniestros_2023.xlsx'
mujeres_archivo = 'Datasets\mujeres_heridas.xlsx'
# Lee el archivo XLSX y carga su contenido en un DataFrame
df_hom = pd.read_excel(hom_archivo)
df_les = pd.read_excel(les_archivo)
df_siniestros = pd.read_excel(sini_archivo)
df_mujeres = pd.read_excel(mujeres_archivo)

Leemos el archivos de homicidios.xlsx

In [3]:
df_hom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

Se procede a manipular columnas para su eliminación,renombramiento y reset de indice

In [4]:
#Columnas a eliminar
columns_to_drop = ['LUGAR_DEL_HECHO','Calle','XY (CABA)','PARTICIPANTES','Altura']
df_hom = df_hom.drop(columns=columns_to_drop)
#Columnas para renombrar
df_hom = df_hom.rename(columns={'ID':'Id','N_VICTIMAS':'Victimas','AAAA':'Año','MM':'Mes','DD':'Dia','TIPO_DE_CALLE':'Tipo_calle','HH':'Franja_Horaria','Dirección Normalizada':'Direccion_Normalizada','pos x': 'X', 'pos y': 'Y', 'VICTIMA': 'Victima','ACUSADO':'Acusado'})
# Obtén el valor mínimo actual de la columna 'ID'
min_id = int(df_hom['Id'].str.split('-').str[-1].min())
# Resta el valor mínimo de la columna 'ID' de todos los valores para comenzar desde 0
df_hom['Id'] = (df_hom['Id'].str.split('-').str[-1].astype(int) - min_id).astype(str)

Presentación final del archivo de homicidos.xlsx

In [5]:
df_hom.head(5)

,Id,Victimas,FECHA,Año,Mes,Dia,HORA,Franja_Horaria,Tipo_calle,Cruce,Direccion_Normalizada,COMUNA,X,Y,Victima,Acusado
0,0,1,2016-01-01,2016,1,1,04:00:00,4,AVENIDA,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,-58.47533969,-34.68757022,MOTO,AUTO
1,1,1,2016-01-02,2016,1,2,01:15:00,1,GRAL PAZ,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,-58.50877521,-34.66977709,AUTO,PASAJEROS
2,2,1,2016-01-03,2016,1,3,07:00:00,7,AVENIDA,NaN,ENTRE RIOS AV. 2034,1,-58.39040293,-34.63189362,MOTO,AUTO
3,3,1,2016-01-10,2016,1,10,00:00:00,0,AVENIDA,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,-58.46503904,-34.68092974,MOTO,SD
4,4,1,2016-01-21,2016,1,21,05:20:00,5,AVENIDA,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,-58.38718297,-34.62246630,MOTO,PASAJEROS

In [6]:
df_hom_victimas= pd.read_excel(hom_archivo,sheet_name="VICTIMAS")

In [7]:
#Columnas a eliminar
columns_to_drop = ['FECHA_FALLECIMIENTO','MM','DD','FECHA','AAAA','VICTIMA']
df_hom_victimas = df_hom_victimas.drop(columns=columns_to_drop)
#Columnas para renombrar
df_hom_victimas = df_hom_victimas.rename(columns={'ID_hecho':'Id','ROL':'Rol', 'SEXO': 'Sexo','EDAD':'Edad'})
# Obtén el valor mínimo actual de la columna 'ID'
min_id = int(df_hom_victimas['Id'].str.split('-').str[-1].min())
# Resta el valor mínimo de la columna 'ID' de todos los valores para comenzar desde 0
df_hom_victimas['Id'] = (df_hom_victimas['Id'].str.split('-').str[-1].astype(int) - min_id).astype(str)

In [8]:
df_hom_victimas

     Id                   Rol       Sexo Edad
0     0             CONDUCTOR  MASCULINO   19
1     1             CONDUCTOR  MASCULINO   70
2     2             CONDUCTOR  MASCULINO   30
3     3             CONDUCTOR  MASCULINO   18
4     4             CONDUCTOR  MASCULINO   29
..   ..                   ...        ...  ...
712  91                PEATON   FEMENINO   50
713  92  PASAJERO_ACOMPAÑANTE   FEMENINO   18
714  93  PASAJERO_ACOMPAÑANTE   FEMENINO   43
715  94             CONDUCTOR  MASCULINO   27
716  95             CONDUCTOR  MASCULINO   60

[717 rows x 4 columns]

In [9]:
data_homicidios = df_hom.merge(df_hom_victimas,on='Id',how='left')

In [10]:
data_homicidios

,Id,Victimas,FECHA,Año,Mes,Dia,HORA,Franja_Horaria,Tipo_calle,Cruce,Direccion_Normalizada,COMUNA,X,Y,Victima,Acusado,Rol,Sexo,Edad
0,0,1,2016-01-01,2016,1,1,04:00:00,4,AVENIDA,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,-58.47533969,-34.68757022,MOTO,AUTO,CONDUCTOR,MASCULINO,19
1,0,1,2016-01-01,2016,1,1,04:00:00,4,AVENIDA,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,-58.47533969,-34.68757022,MOTO,AUTO,CONDUCTOR,MASCULINO,18
2,0,1,2016-01-01,2016,1,1,04:00:00,4,AVENIDA,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,-58.47533969,-34.68757022,MOTO,AUTO,PEATON,MASCULINO,83
3,0,1,2016-01-01,2016,1,1,04:00:00,4,AVENIDA,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,-58.47533969,-34.68757022,MOTO,AUTO,CONDUCTOR,MASCULINO,25
4,0,1,2016-01-01,2016,1,1,04:00:00,4,AVENIDA,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,-58.47533969,-34.68757022,MOTO,AUTO,PEATON,FEMENINO,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3375,95,1,2021-12-15,2021,12,15,10:30:00,10,AVENIDA,NaN,"PERON, EVA AV. 4071",9,-58.47066794,-34.65021673,AUTO,CARGAS,CONDUCTOR,MASCULINO,60
3376,96,1,2021-11-18,2021,11,18,06:10:00,6,CALLE,NaN,PADRE CARLOS MUGICA 709,1,-58.37976155,-34.58679619,BICICLETA,AUTO,PEATON,MASCULINO,80
3377,96,1,2021-11-18,2021,11,18,06:10:00,6,CALLE,NaN,PADRE CARLOS MUGICA 709,1,-58.37976155,-34.58679619,BICICLETA,AUTO,CONDUCTOR,FEMENINO,35
3378,96,1,2021-11-18,2021,11,18,06:10:00,6,CALLE,NaN,PADRE CARLOS MUGICA 709,1,-58.37976155,-34.58679619,BICICLETA,AUTO,PASAJERO_ACOMPAÑANTE,FEMENINO,23
3379,96,1,2021-11-18,2021,11,18,06:10:00,6,CALLE,NaN,PADRE CARLOS MUGICA 709,1,-58.37976155,-34.58679619,BICICLETA,AUTO,CICLISTA,MASCULINO,53

In [11]:
# Guardar el DataFrame como archivo CSV en la ruta especificada
data_homicidios.to_csv("EDA/Datasets/homicidos.csv", index=False)

Leemos el archivo lesiones.xlsx

In [12]:
df_les.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23785 entries, 0 to 23784
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     23785 non-null  object
 1   n_victimas             23785 non-null  int64
 2   aaaa                   23785 non-null  int64
 3   mm                     23785 non-null  int64
 4   dd                     23785 non-null  int64
 5   fecha                  23785 non-null  object
 6   hora                   23785 non-null  object
 7   franja_hora            23780 non-null  object
 8   direccion_normalizada  23732 non-null  object
 9   comuna                 23616 non-null  object
 10  tipo_calle             23785 non-null  object
 11  otra_direccion         23785 non-null  object
 12  calle                  12867 non-null  object
 13  altura                 12771 non-null  float64
 14  cruce                  9407 non-null   object
 15  geocodificacion_CABA   23746 non-null  object
 16  longitud               23523 non-null  object
 17  latutid                23523 non-null  object
 18  victima                23785 non-null  object
 19  acusado                23785 non-null  object
 20  participantes          23785 non-null  object
 21  moto                   23692 non-null  object
 22  auto                   23692 non-null  object
 23  transporte_publico     23692 non-null  object
 24  camion                 23692 non-null  object
 25  ciclista               23692 non-null  object
 26  gravedad               23785 non-null  object
dtypes: float64(1), int64(4), object(22)
memory usage: 4.9+ MB

Procedemos a realizar un reset del indice al igual que eliminar,renombrar y cambiar el orden de las columnas

In [13]:
#Reset de indice 
df_les.reset_index(inplace=True)
#Columnas a eliminar
columns_to_drop = ['id','mm','dd','fecha','hora','franja_hora','comuna','otra_direccion','calle','altura','cruce','geocodificacion_CABA','participantes','moto','auto','transporte_publico','camion','ciclista','gravedad']
df_les = df_les.drop(columns=columns_to_drop)
#Columnas a renombrar
df_les = df_les.rename(columns={'index':'Id','n_victimas':'Victimas','aaaa':'Año','direccion_normalizada':'Direccion_Normalizada','tipo_calle':'Tipo_calle','longitud':'X','latutid':'Y','victima':'Victima','acusado':'Acusado'})
order_columns = ['Id','Victimas','Año','Tipo_calle','Direccion_Normalizada','X','Y','Victima','Acusado']
df_les = df_les[order_columns]

Presentación final del archivo lesiones.xlsx

In [14]:
df_les.head(5)

,Id,Victimas,Año,Tipo_calle,Direccion_Normalizada,X,Y,Victima,Acusado
0,0,1,2019,SD,SD,-58.408911,-34.559658,CICLISTA,SD
1,1,1,2019,SD,SD,-58.44351,-34.669125,AUTO,SD
2,2,1,2019,SD,SD,-58.468335,-34.677556,SD,SD
3,3,1,2019,SD,SD,-58.437425,-34.647349,PEATON,SD
4,4,4,2019,SD,SD,-58.398225,-34.604579,AUTO,SD

In [15]:
df_les_victimas = pd.read_excel(les_archivo,sheet_name="VICTIMAS")

In [16]:
#Reset de indice 
df_les_victimas.reset_index(inplace=True)
#Columnas a eliminar
columns_to_drop = ['ID hecho','MM','DD','FECHA ','VEHICULO_VICTIMA','AAA']
df_les_victimas = df_les_victimas.drop(columns=columns_to_drop)
#Columnas a renombrar
df_les_victimas = df_les_victimas.rename(columns={'index':'Id','SEXO':'Sexo','EDAD_VICTIMA':'Edad','GRAVEDAD':'Gravedad'})
order_columns = ['Id','Victimas','Año','Tipo_calle','Direccion_Normalizada','X','Y','Victima','Acusado']
df_les_victimas = df_les_victimas[order_columns]

KeyError: "['Victimas', 'Año', 'Tipo_calle', 'Direccion_Normalizada', 'X', 'Y', 'Victima', 'Acusado'] not in index"

In [ ]:
data_lesiones = df_les.merge(df_les_victimas,on='Id',how='left')

In [ ]:
data_lesiones

In [ ]:
# Guarda el DataFrame en el archivo CSV
data_lesiones.to_csv('EDA\Datasets\Lesiones.csv',index=False)

Lectura del archivo siniestros.xlsx

In [ ]:
df_siniestros.info()

Procedemos a manipular las columnas para poder extraer los datos necesarios, renombre, eliminación y reordenamiento de columnas

In [ ]:
#Cambio de tipo de dato de la columna FECHA
df_siniestros['FECHA'] = df_siniestros['FECHA'].astype(str)
df_siniestros['Año'] = df_siniestros['FECHA'].str.slice(0, 4)
df_siniestros['FECHA'].str.extract(r'(\d{4})') 
#Generación de nueva columna
df_siniestros['Victimas']= df_siniestros['MOTO']+df_siniestros['LVIANO']+df_siniestros['BUS']+df_siniestros['CAMION']
#Columnas a eliminar 
columns_to_drop = ['FECHA','HORA','BANDA y/o RAMAL','PK','CONDICIONES METEOROLÓGICAS','SUPERFICIE DE LA VIA','TIPO DE SINIESTRO','LESIONADOS','FALLECIDOS','MOTO','LVIANO','BUS','CAMION']
df_siniestros = df_siniestros.drop(columns=columns_to_drop)
#Creación de columnas 
df_siniestros['Acusado'] = 'SD'
df_siniestros['Tipo_calle'] = 'SD'
df_siniestros['Victima'] = 'SD'
#Recombramiento de columnas
df_siniestros = df_siniestros.rename(columns={'AUTOPISTA':'Direccion_Normalizada'})
#Cambio de orden de columnas
new_order_columns = ['Victimas','Año','Tipo_calle','Direccion_Normalizada','Victima','Acusado']
df_siniestros=df_siniestros[new_order_columns]

In [ ]:
#Reset de indice
df_siniestros.reset_index(inplace=True)

In [ ]:
#Renombre de columnas del dataframe
df_siniestros = df_siniestros.rename(columns={'index':'Id'})

In [ ]:
df_siniestros.head(5)

In [ ]:
# Guarda el DataFrame en el archivo CSV
df_siniestros.to_csv('EDA\Datasets\siniestros.csv',index=False)

In [ ]:
#Renombre de las columnas
df_mujeres = df_mujeres.rename(columns={'anio':'Año','porc_mujeres_lesionadas_acc_transito':'% Mujeres_accidentadas'})
# Guarda el DataFrame en el archivo CSV
df_mujeres.to_csv('EDA\Datasets\mujeres.csv',index=False)